.products_container > .products_list li {
  width: 100%;
  flex: 0.33;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.3s ease;

  box-shadow: 3px 3px 5px #00000015;
}
.products_container > .products_list li:hover {
  transform: scale(1.05);
}

.products_container > .products_list .product_list_item > div:first-child {
  position: relative;

  width: 100%;
  height: 10rem;
}
.products_container > .products_list .product_list_item > div:first-child > img{
  object-fit: cover;
  height: auto;
  width: 100%;
  filter: brightness(0.5);
  height: 10rem;
}
.products_container > .products_list .product_list_item > div:first-child > span{
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  width: 0;
  padding: 0.75rem 0;
  overflow: hidden;
  transition: 0.3s ease;
  white-space: nowrap;

  background-color: #FFFFFF25;
  color: white;

  border-radius: 5rem;
  font-weight: 600;
}
.products_container > .products_list .product_list_item:hover > div:first-child > span {
  width: 7.8125rem;
  padding: 0.75rem;
}

.products_container > .products_list .product_list_item > div:last-child {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.products_container > .products_list .product_list_item > div:last-child > strong:first-child{
  font-size: 1.5rem;
}
.products_container > .products_list .product_list_item > div:last-child > strong:last-child{
  font-size: 1.5rem;
  color: var(--green-500);
  text-align: right;
}