aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  
  height: 100vh;
  width: calc(50% - 1.75rem);
  padding: 2.75rem 2.5rem;

  background-image: url("../assets/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

aside > section {
  max-width: 34rem;
}

aside > section > h2{
  color: var(--text-light);
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 3.75rem;
}
aside > section > p{
  color: var(--text-soft);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;

  margin-top: 1.5rem;
}
aside > footer {
  display: flex;
  gap: 1rem;
  align-items: center;
}