* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

span, p, a, h1, h2, h3, h4, h5, input, label {
  color: var(--text);
}

button {
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
button:hover {
  filter: brightness(0.9);
}

a {
  text-decoration: none;
}

body {
  display: flex;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
label {
  font-weight: 500;
}