.content {
  padding: 1rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.content > section {
  width: 27.375rem;
}

#warnings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-bottom: 1rem;
  line-height: 1.5rem;
}
#warnings .alert-item {
  border-radius: 6px;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--red-100);
}
#warnings .alert-item > button{
  border-radius: 6px;
  min-height: 1.5rem;
  min-width: 1.5em;
  background-color: var(--red-100);
}

/* Form Header ----------------------------------------------------*/
.content > section > header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.content > section > header > h1{
  font-size: 2.25rem;
  color: var(--text);
}
.content > section > header > span{
  font-size: 1rem;
  color: var(--text);
}
.content > section > header > span > a{
  color: var(--red-500);
  font-weight: 500;
}
.content > section > header > span > a:hover{
  text-decoration: underline;
}

/* Form Body -----------------------------------------------------*/
.content > section > form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.content > section > form input{
  font-size: 1rem;
  padding: 0.65rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--input-border);
  background-color: transparent;

  outline-color: var(--red-500);
}
.content > section > form input::placeholder{
  color: #00000057;
}
.content > section > form a{
  color: var(--red-500);
  font-size: 0.875rem;
}
.content > section > form > button[type="submit"] {
  width: 13rem;
  padding: 0.75rem 1rem;
  color: white;
  background-color: var(--red-500);
  border: 0;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.25rem;
}

.oauth-providers {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.oauth-providers > button{
  padding: 0.75rem 1rem;
  color: var(--text);
  border: 1px solid var(--input-border);
  background-color: var(--background);
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
